.button {
  /* font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 30px;
  margin-right: 0.8rem; */
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #641e03;
  border-color: #641e03;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
