.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.input label {
  font-weight: bold;
  margin-right: 0.4rem;
}

.input input {
  width: 12rem;
  height: 2.3rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}
@media (max-width: 400px) {
  .input {
    flex-direction: column;
  }
}
